.educations {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: fit-content;
    background-color: whitesmoke;
    padding-top: 68px;
    align-content: center;
    align-items: center;
}

.timeline {
    margin-top: 50px;
}

.timeline__item {
    width: 60vw;
    min-width: 50vw;
}

.timeline_itemDescription {
    font-size: 14px !important;
}

.timeline_paperTop {
    display: flex;
    padding: 10px;
    align-content: center;
    align-items: center;
    justify-content: center;
}