.educations {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: fit-content;
    background-color: whitesmoke;
    padding-top: 68px;
    align-content: center;
    align-items: center;
    /* background-image: linear-gradient(rgba(110, 110, 110, 0.5), rgba(245, 245, 245, 0.774)), url('../../images/undraw_education_f8ru.svg'); */
    background-image: linear-gradient(rgba(110, 110, 110, 0.5), rgba(245, 245, 245, 0.774));
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.timeline {
    margin-top: 50px;
}

.timeline__item {
    width: 60vw;
    min-width: 50vw;
}

.timeline_itemMajor {
    font-size: 14px;
    font-weight: 500;
    color: gray;
    margin-bottom: 10px;
}

.timeline_itemDescription {
    font-size: 14px !important;
    font-weight: 500 !important;
}

.timeline_paperTop {
    /* display: flex; */
    padding: 10px;
    background-color: whitesmoke;
    margin-bottom: 5px;
}

.timeline_paperbody {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.educations__title {
    font-family: 'Prompt', sans-serif;
    font-size: 45px;
}