@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Prompt:wght@300&display=swap');

.content {
    display: flex;
    background-color: whitesmoke;
    min-height: 95vh;
    height: 93vh;
    position: relative;
    text-align: center;
    /* background: linear-gradient(rgba(110, 110, 110, 0.5), rgba(245, 245, 245, 0.774)), url('../../images/undraw_online_cv_qy9w.svg'); */
    background: linear-gradient(rgba(110, 110, 110, 0.5), rgba(245, 245, 245, 0.774));
    /* background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed; */
}

.content__left {
    
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.content__left > p {
    font-size: small;
    color: gray;
    font-weight: 500;
}


.content__right {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    /* background: wheat; */
}

.content__leftIcons {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 5px;
    
}

.content__leftName {
    font-family: 'Prompt', sans-serif;
    font-size: 45px;
    font-weight: 600;
    text-decoration: none;
}

.content__left > p {
    font-weight: 500;
    font-size: small;
}

.content__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}