.header {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: whitesmoke;
    box-shadow: 0 10px 10px -5px grey;
    position: sticky;
    top: 0;
    z-index: 999;
}

.header > img {
    object-fit: contain;
    height: 50px;
    border-radius: 50%;
}
