.projectsAndExperiments {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: fit-content;
    background-color: whitesmoke;
    padding-top: 68px;
    align-content: center;
    align-items: center;
}

.projectsAndExperiments_timeline {
    display: flex;
    margin-top: 10px;
    padding: 5px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}