.profilelink {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

.profilelink > p {
    font-weight: bold;
    font-size: 16px;
    margin-left: 5px;
    color: gray;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

.profilelink > p:hover {
    color: blue;
}